<section class="sidebar">
  <a href="/">
    <img id="logo" src="http://welcome.mylittleparis.com/images/my-little-paris.png" srcset="http://welcome.mylittleparis.com/images/my-little-parisx2.png" alt="My Little Paris">
    
  </a>



  <section class="meta">
    <a href="{{ site.github.owner_url }}" target="_blank"><i class="fa fa-github"></i></a>
    <a href="https://twitter.com/{{ site.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="/atom.xml"><i class="fa fa-rss"></i></a>
  </section>

  <section class="sections">
    <ul>
      <li><a href="/">Les Tips</a></li>
      <li><a href="/about/">A Propos</a></li>
    </ul>
  </section>
</section>


